*{
    transition: all $transitionFunc;
}
body, html{
width: 100vw;
}
body {
    color: $primaryTextColor;
    background-color: $primaryBgColor;
    text-align: left;
    font-family: $primaryFontFam;
    font-size: 18px;
    margin: 0;
    padding: 0;
    }
body.dark{
    color: $primaryTextColorDark;
    background-color: $primaryBgColorDark;
}
    
.page_wrapper{
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}
.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}