@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 1199px) {
        @content;
    }
}@mixin mobile {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}
@mixin background-opacity{
    height: 100%;
    max-width: 770px;
    opacity: 0.9;
    background-color: $primaryBgColor;
}
@mixin btn ($accentColor, $accentHover) {
    display: inline-block;
    width: auto;
    position: relative;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: $accentColor;
    transition: all $transitionFunc;
    &::after{
        content: '';
        width: 100%;
        height: 13px;
        position: absolute;
        left: 10px;
        bottom: -4px;
        background-color: $accentColor;
        opacity: 0.3;
        transition: all $transitionFunc;
    }
    &:hover, &:focus{
        color: $accentHover;
        &::after{
            background-color: $accentHover;
        }
    }
}
@mixin btn-large ($accentColor, $accentHover, $borderColor) {
    width: auto;
    display: inline-block;
    position: relative;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: $accentColor;
    transition: all $transitionFunc;
    padding: 32px 94px 36px 89px;
    border: 1px solid $borderColor;
    &::after{
        content: '';
        width: 112px;
        height: 13px;
        position: absolute;
        left: 99px;
        bottom: 33px;
        background-color: $accentColor;
        opacity: 0.3;
        transition: all $transitionFunc;
    }
    &:hover, &:focus{
        color: $accentHover;
        border: 1px solid $accentHover;
        &::after{
            background-color: $accentHover;
            
        }
    }
}