$primaryTextColor: #FFF;
$secondaryTextColor: #FFF;

$accentColor_green: #85BBB1;
$accentColor_coral: #53F3CD;

$accentHover_red: #E54F3A;
$accentHover_green: #689FF2;

$borderColor:#515773;
$primaryBgColor:#161926;

$transitionFunc: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

$primaryFontFam: 'Lato', sans-serif;
$secondaryFontFam: 'Playfair Display', serif;

// Dark Theme

// $accentColor_green: #53F3CD; //кавычки
// $accentColor_blue: #689FF2;

// $borderColor:#515773;
// $primaryBgColor:#161926;
