$primaryTextColor:#262a3f;
$secondaryTextColor: #FFF;

$accentColor_green: #85BBB1;

$accentColor_coral: #F1897B;
$accentHover_red: #E54F3A;

$accentHover_green: #02E0AB;
$accentHover_greenDark: #02E0AB;

$borderColor:#E4E4E4;
$primaryBgColor: #FFF;


$transitionFunc: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

$primaryFontFam: 'Lato', sans-serif;
$secondaryFontFam: 'Playfair Display', serif;


// // Dark Theme

$primaryTextColorDark: #FFF;

$accentColor_greenDark: #689FF2;

$accentColor_coralDark: #53F3CD;
$accentHover_redDark: #02E0AB;

$borderColorDark:#515773;
$primaryBgColorDark:#161926;

