$primaryTextColor:#262A3F;
$secondaryTextColor: #FFF;

// $subTextColor: ;

$accentColor_green: #85BBB1;
$accentColor_coral: #F1897B;

// $hoverTextColor: ;

$primaryBgColor: #FFF;
// $secondaryBgColor: rgba(#FFF, 0.9);


$transitionFunc: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

$primaryFontFam: 'Lato', sans-serif;



// Black Theme
$primaryTextColorDark:#565656;
$secondaryTextColorDark: #000000 ;
$subTextColorDark: #7B7B7B;
$accentTextColorDark: #FFF;

$hoverTextColorDark: #007FFC;

$primaryBgColorDark: #FFF;
$secondaryBgColorDark: #F4F4F4;


// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display', serif;
