@import '../assets/fonts/style.css';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

input, button {
  outline: none;
  border: none;
  background-color: transparent;
}

* {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #262a3f;
  background-color: #FFF;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.page_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  src: url(../assets/fonts/LatoSemibold.otf) format("otf"), url(../assets/fonts/LatoSemibold.ttf) format("ttf"), url(../assets/fonts/LatoSemibold.woff) format("woff");
}
a, button {
  cursor: url("../assets/images/cursor.png") 2 2, pointer;
}

.page_wrapper {
  background-image: linear-gradient(183deg, rgba(255, 255, 255, 0) 46.73%, #FFF 63.21%), url(../assets/images/first-bg-image_desktop-1x.jpg);
  background-position: left 484px, center top;
  background-repeat: no-repeat;
  background-size: 100% 825px, 100% 1028px;
}

.header {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
}

.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 142px;
  height: 12px;
  display: flex;
  align-items: center;
}

.logo_link {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.logo_link:hover .logo, .logo_link:focus .logo {
  transform: scale(1.2);
}

.logo {
  width: 100%;
  object-fit: contain;
  object-position: left;
}

.nav-list_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.nav_item {
  color: #262a3f;
  position: relative;
  transition: all 0.2s ease;
}

.current::after {
  content: "";
  width: 44px;
  height: 3px;
  position: absolute;
  background-color: rgba(241, 137, 123, 0.3);
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
}

.nav_link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24/14);
  letter-spacing: 1.12px;
  text-transform: capitalize;
  color: inherit;
  padding: 28px 0;
}
.nav_link:focus, .nav_link:hover {
  color: #85BBB1;
  font-weight: 700;
}

.hero .container {
  padding-top: 150px;
  padding-bottom: 154px;
}

.section-title {
  color: #262a3f;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: 400;
  line-height: calc(52/44);
}
.section-title span {
  color: #85BBB1;
  font-style: italic;
}

.section-description {
  color: #262a3f;
  font-size: 18px;
  font-weight: 300;
  line-height: calc(26/18);
  opacity: 0.8;
}

.hero .section-description {
  max-width: 439px;
  margin-bottom: 50px;
}
.hero .section-title {
  max-width: 523px;
  margin-bottom: 20px;
}

.btn-large-coral {
  width: auto;
  display: inline-block;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #F1897B;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 94px 36px 89px;
  border: 1px solid #E4E4E4;
}
.btn-large-coral::after {
  content: "";
  width: 112px;
  height: 13px;
  position: absolute;
  left: 99px;
  bottom: 33px;
  background-color: #F1897B;
  opacity: 0.3;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-large-coral:hover, .btn-large-coral:focus {
  color: #E54F3A;
  border: 1px solid #E54F3A;
}
.btn-large-coral:hover::after, .btn-large-coral:focus::after {
  background-color: #E54F3A;
}

.btn-large-green {
  width: auto;
  display: inline-block;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #85BBB1;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 94px 36px 89px;
  border: 1px solid #E4E4E4;
}
.btn-large-green::after {
  content: "";
  width: 112px;
  height: 13px;
  position: absolute;
  left: 99px;
  bottom: 33px;
  background-color: #85BBB1;
  opacity: 0.3;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-large-green:hover, .btn-large-green:focus {
  color: #02E0AB;
  border: 1px solid #02E0AB;
}
.btn-large-green:hover::after, .btn-large-green:focus::after {
  background-color: #02E0AB;
}

.btn-coral {
  display: inline-block;
  width: auto;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #F1897B;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-coral::after {
  content: "";
  width: 100%;
  height: 13px;
  position: absolute;
  left: 10px;
  bottom: -4px;
  background-color: #F1897B;
  opacity: 0.3;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-coral:hover, .btn-coral:focus {
  color: #E54F3A;
}
.btn-coral:hover::after, .btn-coral:focus::after {
  background-color: #E54F3A;
}

.btn-green {
  display: inline-block;
  width: auto;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #85BBB1;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-green::after {
  content: "";
  width: 100%;
  height: 13px;
  position: absolute;
  left: 10px;
  bottom: -4px;
  background-color: #85BBB1;
  opacity: 0.3;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-green:hover, .btn-green:focus {
  color: #02E0AB;
}
.btn-green:hover::after, .btn-green:focus::after {
  background-color: #02E0AB;
}

.statistics .container {
  min-height: 670px;
  background-image: url(../assets/images/statistic-img_desktop-1x.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 45px;
  padding-bottom: 45px;
}

.statistics-wrapper {
  height: 100%;
  max-width: 770px;
  opacity: 0.9;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: auto;
  padding-top: 45px;
  padding-bottom: 45px;
}

.statistics-list {
  flex-basis: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.statistics-item {
  position: relative;
  max-height: 110px;
}
.statistics-item:not(:last-child)::after {
  content: "";
  width: 100px;
  height: 0.5px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  background-color: #85BBB1;
}

.icon-dollar:before {
  position: absolute;
  left: -31px;
  top: 6px;
}

.statistics-count {
  font-family: "Playfair Display", serif;
  font-size: 68px;
  font-weight: 400;
  line-height: calc(72/68);
  margin-bottom: 12px;
  white-space: nowrap;
}
.statistics-count span {
  font-size: 50px;
  position: relative;
}

.statistics-count_text {
  font-weight: 300;
  line-height: calc(26/18);
}

.statistics-description {
  flex-basis: 52%;
}
.statistics-description p {
  font-weight: 300;
  line-height: calc(26/18);
  margin-bottom: 50px;
}

.benefits .container {
  padding-top: 150px;
  padding-bottom: 120px;
}

.benefits_list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-align: left;
  row-gap: 90px;
  flex-wrap: wrap;
  outline: 1px solid tomato;
}

.benefits_item {
  width: 100%;
  min-height: 250px;
  flex-basis: calc((100% - 30px) / 2);
  padding: 20px 68px 20px 30px;
  position: relative;
  outline: 1px solid tomato;
}
.benefits_item::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  background-color: #E4E4E4;
}

.benefits .section-title {
  line-height: 48px;
  margin-bottom: 30px;
}

.benefits .section-description {
  width: 100%;
}

.quote .container {
  min-height: 400px;
  background-image: url(../assets/images/quote-bg-image_desktop-1x.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 100px 300px 100px 130px;
  outline: 1px solid tomato;
}

.quote-description {
  color: #FFF;
  font-size: 32px;
  line-height: calc(46/32);
  letter-spacing: 1.28px;
  margin-bottom: 40px;
  position: relative;
}
.quote-description::before {
  content: url(../assets/images/quote-icon.svg);
  width: 102px;
  height: 84px;
  position: absolute;
  top: -30px;
  left: -60px;
}

.quote-subtext {
  color: #FFF;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1;
  letter-spacing: 1.6px;
}

.video .container {
  padding: 120px 100px;
}

.video-wrapper {
  width: 100%;
  border-radius: 32px;
  border: 1px solid #E4E4E4;
  padding: 31px 70px 31px 30px;
  margin-bottom: 50px;
  position: relative;
}

.video-content {
  max-width: 870px;
  width: 100%;
  max-height: 535px;
}

.video-youtube_link-wrapper {
  max-width: 120px;
  max-height: 120px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.video-youtube_link {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.video-youtube_link svg {
  width: 120px;
  height: 120px;
}
.video-youtube_link:hover svg use, .video-youtube_link:focus img svg use {
  --color1: #02E0AB;
}
.video-youtube_link img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.video .section-title {
  width: 100%;
  max-width: 900px;
  font-size: 40px;
  line-height: calc(48/40);
  margin-bottom: 20px;
}

.video .section-description {
  width: 100%;
  max-width: 900px;
}

.promises .container {
  max-height: 540px;
  background-image: url(../assets/images/features-bg-image_desktop-1x.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 45px;
  padding-bottom: 45px;
}

.promises-wrapper {
  height: 100%;
  max-width: 770px;
  opacity: 0.9;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: auto;
}

.promises_list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 70px;
  padding: 75px 0 75px 70px;
  outline: 1px solid tomato;
}

.promises_item {
  position: relative;
  width: 100%;
  max-width: 300px;
  outline: 1px solid tomato;
}

.section-subtitle {
  color: #262a3f;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}

.promises_item .section-description:first-of-type {
  margin-bottom: 15px;
}

.reviews .container {
  padding-top: 120px;
  padding-bottom: 100px;
}
.reviews .section-title {
  font-size: 40px;
  line-height: calc(48/40);
  margin-bottom: 20px;
}
.reviews .section-description {
  max-width: 400px;
  margin-bottom: 50px;
}

.reviews_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews_item {
  height: 1px;
  width: calc((100% - 30px * 2)/ 3);
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.565% 3.42%;
  outline: 1px solid tomato;
}
.reviews_item:nth-of-type(1n) {
  background-image: linear-gradient(90deg, rgba(25, 28, 41, 0.6) 100%, rgba(25, 28, 41, 0.6) 100%), url(../assets/images/client-1-image_desktop-1x.jpg);
}
.reviews_item:nth-of-type(2n) {
  background-image: linear-gradient(90deg, rgba(25, 28, 41, 0.6) 100%, rgba(25, 28, 41, 0.6) 100%), url(../assets/images/client-2-image_desktop-1x.jpg);
}
.reviews_item:nth-of-type(3n) {
  background-image: linear-gradient(90deg, rgba(25, 28, 41, 0.6) 100%, rgba(25, 28, 41, 0.6) 100%), url(../assets/images/client-3-image_desktop-1x.jpg);
}

.reviews-description {
  color: #FFF;
  font-size: 1rem;
  line-height: calc(26/16);
  opacity: 0.8;
}

.reviews-subtext {
  color: #FFF;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1;
  letter-spacing: 1.6px;
}

.contacts .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}
.contacts .section-title {
  font-size: 40px;
  line-height: calc(39/40);
  margin-bottom: 29px;
}

.contacts-description_wrapper {
  padding-top: 21px;
}

.contacts-form_wrapper {
  min-width: 500px;
  padding-left: 30px;
}

.form {
  width: 100%;
}

fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 40px;
}

.form-field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-input, textarea {
  position: relative;
  width: 470px;
  width: 100%;
  min-height: 32px;
  outline: transparent;
  color: #262a3f;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #E4E4E4;
  border-radius: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  overflow: visible;
}
.form-input::placeholder, textarea::placeholder {
  position: relative;
  top: 0;
  left: -10px;
  z-index: 2;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: calc(20/18);
  letter-spacing: 1.44px;
  opacity: 0.5;
}
.form-input:hover, .form-input:focus, textarea:hover, textarea:focus {
  border-color: #02E0AB;
}

textarea {
  height: auto;
  border: none;
  border-bottom: 1px solid #E4E4E4;
}
textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
textarea:hover, textarea:focus {
  border-color: #02E0AB;
}

.footer .container {
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  color: #262a3f;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  opacity: 0.6;
}

.madeby-box {
  display: block;
}
.madeby-box p {
  display: inline-block;
  margin-right: 12px;
}

.madeby-box a, .agreement, .privacy-policy {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24/14);
  letter-spacing: 1.12px;
  text-transform: capitalize;
  color: inherit;
  padding: 28px 0;
  color: #262a3f;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.12px;
}
.madeby-box a:focus, .madeby-box a:hover, .agreement:focus, .agreement:hover, .privacy-policy:focus, .privacy-policy:hover {
  color: #85BBB1;
  font-weight: 700;
}

.agreement {
  margin-right: 32px;
}

@media screen and (max-width: 1078px) {
  .page_wrapper {
    padding-top: 10px;
    background-position: left 323px, center top;
    background-size: 100% 325px, 100% 528px;
  }

  .hero .container {
    padding-top: 50px;
    padding-bottom: 54px;
  }

  .statistics .container {
    min-height: 570px;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .statistics-wrapper {
    max-width: 770px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .benefits .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits_list {
    flex-direction: column;
    row-gap: 40px;
  }

  .benefits_item {
    width: 100%;
    min-height: initial;
    flex-basis: initial;
  }
  .benefits_item::before {
    top: -20px;
  }

  .quote .container {
    min-height: 344px;
    padding: 50px 80px 50px 80px;
  }

  .quote-description {
    font-size: 26px;
  }

  .video .container {
    padding: 30px 30px;
  }

  .video-wrapper {
    padding: 31px 30px 31px 30px;
    margin-bottom: 30px;
  }

  .video-youtube_link svg.item-icon {
    width: 80px;
    height: 80px;
  }

  .promises .container {
    max-height: 540px;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .promises-wrapper {
    height: 100%;
    max-width: 770px;
    opacity: 0.9;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: auto;
  }

  .promises_list {
    justify-content: space-between;
    column-gap: 30px;
    padding: 30px 0 30px 30px;
  }

  .promises_item {
    position: relative;
    width: 100%;
    max-width: 300px;
  }

  .reviews .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reviews .section-description {
    margin-bottom: 30px;
  }

  .reviews-description {
    font-size: 0.88rem;
  }

  .reviews-subtext {
    font-size: 1rem;
  }

  .contacts .container {
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .agreement {
    margin-right: 12px;
  }
}
@media screen and (max-width: 990px) {
  .reviews-description {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .nav_list {
    display: none;
  }

  .logo-wrapper {
    height: initial;
  }

  .section-title {
    font-size: 36px;
    line-height: calc(52/36);
  }

  .hero .section-description {
    max-width: 100%;
  }

  .statistics .container, .promises .container {
    background-size: cover;
  }
}
.statistics-count {
  font-size: 46px;
  line-height: calc(72/100);
}

.statistics-wrapper {
  max-width: 770px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.statistics-list {
  gap: 40px;
}

.statistics-description {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.statistics-item:not(:last-child)::after {
  bottom: -25%;
}

.benefits_list, .promises_list, .quote .container, .reviews_item {
  text-align: center;
}

.promises .container {
  max-height: 100%;
}

.promises_list {
  flex-direction: column;
  justify-content: center;
  column-gap: 0;
  row-gap: 30px;
  padding: 15px 0 15px 0;
}

.reviews_list {
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.reviews_item {
  width: 90%;
  min-height: 340px;
  padding: 5% 4%;
}

.reviews .section-title, .reviews .section-description, .video-wrapper, .video .section-title, .video .section-description, .contacts .section-title, .contacts .section-description, .video .section-title, .video .section-description, .hero .container {
  text-align: center;
}

.reviews-description {
  font-size: 1rem;
}

.video-youtube_link svg.item-icon {
  width: 40px;
  height: 40px;
}

.footer_wrapper {
  flex-direction: column;
  gap: 10px;
}

.agreement, .madeby-box a, .privacy-policy {
  padding: 0;
}

.contacts .container {
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contacts .contacts-form_wrapper {
  min-width: 280px;
  max-width: 100%;
  padding-left: 0px;
}
.contacts .btn-coral {
  margin: 0 auto;
}
.contacts .form-input, .contacts textarea {
  min-width: 360px;
}